.App {
  text-align: center;
  background-color: lavender;
}

.error {
  color: lightcoral;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
