.App {
    height: 100vh;
    width: 100%;
    background-color: lavender;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .anecdoteContainer {
    text-align: center;
    font-weight: 4rem;
    padding: 50px;
  }
  
  .button-container button {
    width: auto;
    height: 50px;
    background-color: lightblue;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    color: #fff;
  }
  
  .button-container button:hover {
    background-color: lightcyan;
    color: black;
  }
  
  .votes-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  
  .votes-button-container button {
    font-size: 2rem;
    background-color: beige;
    border: none;
    cursor: pointer;
    height: 50px;
    width: 50px;
  }
  .votes-button-container button:hover {
    background-color: azure;
  }
  
  .votes-container {
    margin-top: 10px;
    border: 1px solid purple;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  
  .bestAnecdote {
    margin-top: 20px;
    min-width: 100%;
    font-size: 1.2rem;
    text-align: center;
  }
  